html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-image {
    width: 250px;
    height: 190px;
    object-fit: cover; /* Opcjonalnie, aby zachowa� proporcje obrazka */
}

.manage-account {
    margin-top: 30px;
}

.manage-account h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.manage-account .row {
    margin-bottom: 20px;
}

.manage-account .col-md-3 {
    width: 25%;
}

.manage-account .col-md-9 {
    width: 75%;
    }

.img-50 img {
    width: 50px;
}

.img-100 img{
    width: 100px;
}

.img-200 img {
    width: 200px;
}

.user_icon-img img{
    width: 25px;
    margin: 4px -20px 0 0px;
}

.brand-section{
    display: grid;
}

.brand-section a {
    text-decoration: none;
    color: black;
    display: grid;
}

.brand-section li{
    list-style: none;
}

.brand-section img{
    width: 40px;
}


.custom-image:hover {
    transition: 0.5s;
    zoom: 1.5;
}

.models_item {
    text-decoration: none;
    color: #36414f;
    cursor: pointer;
}
.section-models a:hover{
    color: blue;
}
.models_item_image {
    box-shadow: 2px 4px 5px rgba(0.5,0.2,0.3,0.5);
    position: relative;
    padding-top: 75%;
    transition: all .3s ease;
    border-radius: 6px;
    overflow: hidden;
}
.models_item_image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
    object-fit: cover;
    border-radius: 6px;
    max-width: 100%;
}
.models_item_title {
    color: #2d2828;
    transition: all .3s ease;
    line-height: 125%;
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 8px 0 0 5px;
}
.models_item_subhead {
    opacity: .5;
    color: black;
    margin: 0 0 0 5px;
}

.models_item_image img {
    transition: transform 0.3s ease;
}

    .models_item_image img:hover {
        transform: scale(1.2);
    }

.models_item_title {
    transition: color 0.3s ease;
}

.models_item:hover .models_item_title {
    color: #208bff;
}

.menu-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    overflow-x: auto;
}

.models_item {
    width: 100%;
    margin: 0 0 20px 0;
}

@media (max-width: 768px) {
    .models_item {
        width: 50%;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 576px) {
    .models_item {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.small-img{
    width: 40px;
}