@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="text-center">
    <h1 class="fw-bolder">Zaloguj się aby kontynuować</h1>
	<img style="width: 200px;" src="/img/login_car.png" alt="" />
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <div class="d-flex justify-content-center align-items-center">
                <a>
                    <button class="btn fs-4 shadow-none btn-outline-primary">Zaloguj się</button>
                </a>
				<span class="fs-5 px-4">lub</span>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                    <button class="btn fs-4 shadow-none btn-outline-primary">Załóż konto</button>
                </a>
            </div>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Hasło</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*Remember me checkbox*@
                @*<div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>*@
                <div>
                    <span><a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętasz hasła?</a></span>
                </div>
                <div class="mt-4">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                </div>
                @*<div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętasz hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>*@
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
