@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h1 class="display-4">⚡Znajdź swój samochód⚡</h1>
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <form class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Szukaj...">
                            <button class="btn btn-primary" type="button">Szukaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h2 class="mb-4">Wybierz swoją markę</h2>
	<hr />
    <div class="menu-items">
        <ul class="ms-0">
			<li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/bmw_icon.png" />
                    </div>
				    <span>Bmw</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
					<div class="d-flex justify-content-center">
                        <img src="/img/mercedes_icon.png" />
                    </div>
                    <span>Mercedes</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/ford_icon.png" />
                    </div>
                    <span>Ford</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/mazda_icon.png" />
                    </div>
                    <span>Mazda</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/renault_icon.png" />
                    </div>
                    <span>Renault</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/peugeot_icon.png" />
                    </div>
                    <span>Peugeot</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/opel_icon.png" />
                    </div>
                    <span>Opel</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/volvo_icon.png" />
                    </div>
                    <span>Volvo</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/volkswagen_icon.png" />
                    </div>
                    <span>Volkswagen</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/fiat_icon.png" />
                    </div>
                    <span>Fiat</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/audi_icon.png" />
                    </div>
                    <span>Audi</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/toyota_icon.png" />
                    </div>
                    <span>Toyota</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/seat_icon.png" />
                    </div>
                    <span>Seat</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/hyundai_icon.png" />
                    </div>
                    <span>Hyundai</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="brand-section">
                <a href="">
                    <div class="d-flex justify-content-center">
                        <img src="/img/citroen_icon.png" />
                    </div>
                    <span>Citroen</span>
                </a>
            </li>
        </ul>

       
       
    </div>
    <hr class="mt-0" />
    <div class="section-models">
        <a class="models_item" href="">
            <div class="models_item_image">
                <img src="/img/bmw_e36_silver.jpg" alt="" />
            </div>
            <h3 class="models_item_title">BMW 3</h3>
            <span class="models_item_subhead">5 generacji modelu</span>
        </a>
    </div>
</div>