@using CarInfo.Application.CarInfo.Commands.CreateCarInfo;

@model CarInfo.MVC.Models.CreateVehicleViewModel


@*<div class="row">
    <div class="col-md-4">
        <form action="/CarInfo/Create" method="post">

            <div class="form-group mb-3">
                <label class="control-label" asp-for="Name">Name</label>
                <input class="form-control" type="text" asp-for="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Description">Description</label>
                <input class="form-control" type="text" asp-for="Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="About">About</label>
                <input class="form-control" type="text" asp-for="About">
            </div>

            <div class="form-group mb-3">
                <label class="control-label" asp-for="PhoneNumber">PhoneNumber</label>
                <input class="form-control" type="text" asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="Address">Address</label>
                <input class="form-control" type="text" asp-for="Address">
            </div>
            <div class="form-group mb-3">
                <label class="control-label" asp-for="City">City</label>
                <input class="form-control" type="text" asp-for="City">
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


<div class="container">
    <h1 class="fw-bolder pt-4">Stwórz ogłoszenie</h1>

    <h5 class="text-muted mt-3">Rodzaj pojazdu</h5>
    <div class="Vehicle-type mt-3">
        <select class="form-select" aria-label="Default select example">
            <option selected>Osobowe</option>
            <option value="1">Motocykle</option>
            <option value="2">Ciężarowe</option>
            <option value="3">Dostawcze</option>
            <option value="4">Rolnicze</option>
            <option value="5">Budowlane</option>
        </select>
    </div>

    
    <h2 class ="fw-bolder mt-5">Dane pojazdu</h2>
	<h5 class="text-muted mt-3">Informacje podstawowe</h5>
	<div class="info-form mt-4 d-flex">
		<div class="me-3 info-form-item">
            <div>
                <label>VIN*</label>
            </div>
            <div class="position-relative">
                <input type="text" placeholder="np. VGZZZ5NZ8W031284" value="" />
            </div>
        </div>
        <div class="info-form-item">
            <div>
                <label>Przebieg*</label>
            </div>
            <div class="position-relative">
                <input type="text" placeholder="np. 125 000" value="" />
				<span>km</span>
            </div>
        </div>
    </div>
    <div class="info-form mt-5 d-flex">
        <div class="me-3 info-form-item">
            <div>
                <label>Numer rejestracyjny pojazdu*</label>
            </div>
            <div class="position-relative">
                <input type="text" placeholder="np. WH 43442" value="" />
            </div>
        </div>
        <div class="info-form-item">
            <div>
                <label>Data pierwszej rejestracji w historii pojazdu*</label>
            </div>
            <div class="position-relative info-date-form">
                <input type="text" placeholder="DD" value="" />
				<p class="info-slash">/</p>
                <input type="text" placeholder="MM" value="" />
				<p class="info-slash">/</p>
                <input type="text" placeholder="RRRR" value="" />
            </div>
        </div>
    </div>

    <h5 class="text-muted mt-5">Dane techniczne</h5>
	<div class="info-form">
		<div class="info-form-item">
            <div class="form-group">
                <label asp-for="SelectedYear">Year of Production:</label>
                <select asp-for="SelectedYear" asp-items="@(new SelectList(Model.AvailableYears))"></select>
            </div>
        </div>
        <div class="info-form-item">
            <div class="form-group">
                <label asp-for="SelectedBrandId">Brand:</label>
                <select asp-for="SelectedBrandId" id="SelectedBrandId">
                    <option value="">Select Brand</option>
                    @foreach (var brand in Model.AvailableBrands)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>



</div>  
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
